<div *ngIf="isLoggedIn()">
  <h2 mat-dialog-title>Add a XYZ just like {{this.data.currentSearchValue}}</h2>

  <mat-dialog-content class="mat-typography">
    <form>
      <!-- Title field -->
      <div class="form-field">
        <mat-form-field>
          <mat-label>XYZ Title:</mat-label>
          <input matInput id="title" [(ngModel)]="contentRelation.titleA" name="title" required>
        </mat-form-field>
      </div>

      <!-- Similarity Rating field -->
      <div class="form-field">
        <mat-form-field>
          <mat-label>Similarity:</mat-label>
          <input matInput id="similarityScore" type="text" placeholder="How similar are they between 1 and 5?" [(ngModel)]="contentRelation.similarityScore" name="similarityScore" required>
        </mat-form-field>
      </div>

      <!-- Description field -->
      <div class="form-field description-field">
        <mat-form-field>
          <mat-label>Description:</mat-label>
          <textarea matInput id="description" placeholder="Why are the similar?" [(ngModel)]="contentRelation.description" name="description" required></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
</div>
<h2 mat-dialog-title *ngIf="!isLoggedIn()">To add movies please log in</h2>
<mat-dialog-actions align="end">
  <button *ngIf="!isLoggedIn()" mat-raised-button color="primary" class="toolbar-button" (click)="openLogin()">Login</button>
  <button *ngIf="isLoggedIn()" mat-button [mat-dialog-close]="true" (click)="addContent()" cdkFocusInitial>Add {{ getEnumLabel(this.data.selectedType) }}</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
