<div class="display-movies" *ngIf="similarMovies.length !== 0">
  <h2>These are just like {{searchMovie.title}}:</h2>

  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

 <div class="movie-comparison">
  <div class="original-movie" *ngIf="similarMovies.length !== 0">
    <img [src]="searchMovie.posterPath" alt="{{ searchMovie.title }}" />
    <div class="movie-info">
      <h3>{{searchMovie.title}}</h3>
    </div>
  </div>

  <div class="comparison-sign">
    <h1 *ngIf="similarMovies[selectedIndex% similarMovies.length].averageSimilarityScore <= 1">≠</h1>
    <h1 *ngIf="similarMovies[selectedIndex% similarMovies.length].averageSimilarityScore <= 3">≈</h1>
    <h1 *ngIf="similarMovies[selectedIndex% similarMovies.length].averageSimilarityScore >  3">=</h1>
  </div>

  <div class="slider-container" *ngIf="similarMovies?.length">
    <div class="slider-item"
         *ngFor="let movie of similarMovies; let i = index;"
         [ngClass]="{
         'selected' : i ===selectedIndex % similarMovies.length,
         'previous' : i ===(selectedIndex % similarMovies.length - 1),
         'next' : i ===(selectedIndex % similarMovies.length + 1) ,
         'hideTop' : i < (selectedIndex % similarMovies.length - 1),
         'hideBottom': i > (selectedIndex % similarMovies.length +1 )
           }">
      <div class="slider-movie">
        <img [src]="movie.posterPath" alt="{{ movie.title }}" />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>Similarity: {{ movie.averageSimilarityScore }}</p>
          <p>Rating: {{ movie.similarityScoreCount }}</p>
          <button (click)="openMovieDetails(movie)">Details</button>
        </div>
      </div>

    </div>
  </div>
</div> 
  <button (click)="onClick()">+1</button>
  <button (click)="onClick2()">-1</button>

  <div *ngIf="similarMovies.length === 0 && !isLoading && hasSearched">
    <h2>There are no movies like {{ currentSearchValue }} in our Database</h2>
    <button color="secondary" (click)="exchangecurrentSearchValueWithSimilarTitle()">
      Did you mean {{ similarTitle }}?
    </button>
  </div>
</div>

