/* You can add global styles to this file, and also import other style files */
/*
COLORS:
    Font: #2b2b2b
    Majorelle Blue: #7260E6
    Champagne: #F5E2C8
    Periwinkle (purple): #CDC1FF
    Bittersweet (red): #EB5E55
    dark pastel green: #0CCA4A
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b
}

.header {
  height: 10vh;
  background-color: #7260E6;
  //clip-path: polygon(0 0, 100% 0, 100% 100%, 3.8% 100% );
  position: relative;
}

.logo-and-title {
  display: flex;
  align-items: center;
}

.logo-and-title > div {
    margin-right: 1.5rem;
}

.logo-box {
  top: 0px;
  left: 0px;
}

.logo-svg {
  height: 10vh;
}


.title-container {
    display: flex;
    color: #ffffff;
    font-weight: 800;
    font-size: 3vh;
    gap: 1.2rem;
}

  .header-just {
    animation-name: moveInJust;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  .header-just:hover {
    animation: moveInJust 1s ease-in;
  }

  @keyframes moveInJust {
    0% {
      transform: rotate(6deg);
    }

    50% {
      transform: rotate(6deg);
    }

    70% {
      transform: rotate(-3deg);
    }

    100% {
      transform: rotate(0);
    }
  }

  @keyframes slideIn {
    0% {
      transform: rotate();
    }

    100% {
      transform: rotate(360deg);
    }
  }


