<div class="search-container">
  <div class="search">
    <h1 class="search">What</h1>
    <mat-form-field class="inline-form-field">
      <mat-label>Select a Medium</mat-label>
      <mat-select class="search" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h1 class="search">is just like</h1>
    <mat-form-field class="inline-search">
      <input matInput
             type="text"
             [(ngModel)]="searchValue"
             placeholder="Enter Movie Title"
             required />
    </mat-form-field>
    <button class="btn search" color="primary" (click)="updateSearchState()">
      Search
    </button>
  </div>
</div>
