<h1>
  What
  <mat-form-field class="inline-form-field">
    <mat-label>Select a Medium</mat-label>
    <mat-select>
      @for (type of types; track type)
      {<mat-option [value]="type">{{ type }}</mat-option>}
    </mat-select>
  </mat-form-field>
  is just like
  <mat-form-field class="inline-search">
    <input matInput
           type="text"
           [(ngModel)]="searchValue"
           placeholder="Enter Movie Title"
           required />
  </mat-form-field>
  <button class="btn"
          color="primary"
          (click)="updateSearchString()">
    Search
  </button>
</h1>


